@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;500&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
}
.contact-btn{
    text-decoration: none;
}
body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #FF0066;
  }
  
  ::selection {
    color: white;
    background: #FF0066;
  }


.svg1{
    width: 500px;
    position: absolute;
    top: -10vh;
    right: -20vh;

}
header{
    width: 95%;
    margin: auto;
    margin-top: 3vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 10vh; 
}
header img{
    display: flex;
    width: 10%;
}
header p{
    display: flex;
}
#nav-page{
    width: 50%;
    margin: auto;
    margin-top: 5vh;

}
.nav-links a {
    color: black;
}
.nav-links i{
    transform: rotate(180deg);
    opacity: 0.7;
}
.nav-links p{
    font-weight: bold;
}
.nav-links i:active{
    color: #FF0066;
}
#homepage{

    width: 50%;
    margin: auto;
    margin-top: 5vh;
    color: black;
}
#homepage h1{
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
#homepage p{
    margin-top: 3vh;

}
#homepage span{
    font-size: 11px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
#homepage-text{

    width: 43%;
    margin: auto;
    margin-top: 5vh;
    color: black;
    font-size: 16px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
#homepage-text span{
   
}
.cta-home{
    position: absolute;
    margin-top: 5vh;
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    
}
.cta-home::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#FF0066;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.cta-home:hover::after{
    width: 100%;
    
}

.cta-home i{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 35px;
}
.header-under{
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    opacity: 0.5;
    letter-spacing: 5px;
}
.header-under span{
    font-family: sans-serif;
}
h2{
    margin-top: 5vh;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    opacity: 0.8;
    font-weight: 300;
}
h2 span{
    color: #FF0066;
}
.click-me{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #212121;
    display: table;
    margin: auto;
    font-size: 15px;
}
.click-me::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.click-me:hover::after{
    width: 30%;
}

.click-btn{
    text-decoration: none;
    color: black;
    text-align: center;
}

#work-page{
    width: 50%;
    margin: auto;
    margin-top: 15vh;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-direction: row;
}
.box{
    margin: 20px;
    width: 40%;
    height: 250px;

}
.box:hover{
    opacity: 0.8;
}
#services-page{
    width: 50%;
    margin: auto;
    margin-top: 5vh;
    color: black;
}
.box1{
    margin: 10px;
    width: 27%;
    height: 220px;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid #FF0066;
    
}
.box1:hover{
    transition: 0.5s;
    border-bottom: 2px solid black;
    background-color: #f5f5f5;
    
}
.box1 i{
    margin-top: 2vh;
    font-size: 60px;
}

h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.services-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 14px;
}
.verse{
    font-weight: lighter;
    margin-top: 5vh;
    text-align: center;
    font-size: 20px;
    opacity: 0.4;
}
#testimonial-page{
    width: 50%;
    margin: auto;
    margin-top: 5vh;
    color: black;
}
#testi-box{
    margin-top: 5vh;
    width: 100%;
}
.box2{
    margin-top: 1vh;
    background-color: #f5f5f5;
    padding: 20px;
    width: 33%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.test-mobi{
    font-size: 12px;
    text-align: center;
}
.box2 i{
    color: #FF0066;
    
}
#social-page{
    width: 50%;
    margin: auto;
    margin-top: 5vh;
    color: black;
}
.work-text{
    font-size: 50px;
    color: black;
}
.work-text span{
    color: black;
}
.work-text::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#FF0066;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.work-text:hover::after{
    width: 100%;
    
}
#footer{
    width: 50%;
    margin: auto;
    height: 5vh;
    
    
}
#footer i{
    letter-spacing: 5px;
    cursor: pointer;
}
footer{
    width: 100%;
}
footer svg{
    display: block;
}

@media only screen and (max-width: 768px) {
    body {
      
    }
    header{
        width: 95%;
        margin: auto;
        margin-top: 0vh;
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    
    }
    header img{
        width: 13%;
        
    }

    #nav-page{
        width: 70%;
        margin: auto;
        margin-top: 3vh;
        font-size: 10px;
    }
    .nav-links a {
        color: black;
    }
    .nav-links i{
        transform: rotate(180deg);
        opacity: 0.7;
        font-size: 10px;
    }
    .nav-links p{
        font-weight: bold;
    }
    #homepage{
        
        width: 80%;
        margin: auto;
        margin-top: 2vh;
        color: black;
    }
    #homepage h1{
        font-size: 62px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
    }
    #homepage p{
        margin-top: 1vh;
    }
    #homepage span{
        font-size: 10px;
        margin-left: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    #homepage-text{
        width: 43%;
        margin: auto;
        margin-top: 5vh;
        color: black;
        font-size: 12px ;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    
    #work-page{
        width: 80%;
        margin: auto;
        margin-top: 15vh;
        color: black;
    }
    .container{
        margin-top: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        flex-direction: row;
        
    }
    .box{
        margin: 20px;
        width: 100%;
        height: 250px;
        cursor: pointer;
    }
    h3{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        font-size: 35px;
    }
    .header-under{
        font-size: 15px;
        font-family: 'Bebas Neue', cursive;
        opacity: 0.5;
        letter-spacing: 5px;
    }
    #services-page{
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: black;
    }
    .box1{
        margin: 5px;
        width: 27%;
        height: 150px;
        cursor: pointer;
        text-align: center;
        border-bottom: 2px solid #FF0066;
        
    }
    .box1 i{
        font-size: 25px;
    }
    h4{
        font-family: 'Bebas Neue', cursive;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .services-text{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #777;
        font-size: 10px;
    }
    .verse{
        font-weight: lighter;
        margin-top: 5vh;
        text-align: center;
        font-size: 16px;
        opacity: 0.4;
    }
    #testimonial-page{
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: black;
    }
    .test-mobi{
        text-align: center;
    }
    #social-page{
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: black;
    }
    .box2{
        width: 100%;
    }
    .work-text{
        font-size: 24px;
        color: black;
    }
    #footer{
        width: 80%;
        margin: auto;
        height: 10vh;
        margin-top: 1vh;
        
    }
    #footer i{
        letter-spacing: 5px;
        cursor: pointer;
    }

